/* Components css */
@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/popup.css);
@import url(./components/input.css);
@import url(./components/table.css);
@import url(./components/dialog.css);
@import url(./components/icon.css);
@import url(./components/toast.css);
@import url(./components/select.css);
@import url(./components/dropdown.css);
@import url(./components/option.css);
@import url(./components/radio.css);

/* Layout css*/
@import url(./layout/header.css);
@import url(./layout/content.css);
@import url(./layout/menu.css);


/* Assets css */

@font-face {
    font-family: duc;
    src: url(/assets/fonts/notosans-regular.2cb88a13.woff2);
}


* {
    font-family: duc;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 13px;
}

/* @media only screen and (max-width: 1366px) {
    .input__raido-gender + .input__raido-gender {
        margin-left: 5px;
    }
    .input__raido-gender {
        margin-right: 5px;
    }

    .popup__body-name {
        width: calc(60% - 8px);
    }

    .popup__body-cmnd {
        width: calc(60% - 24px);
    }

    .popup__body-locateRange {
        width: calc(100% - 16px);
    }

    .body__right-date {
        width: 40%;
    }

    .body__right-gender {
        margin-left: 5px;
        width: calc(60% - 16px);
    }
} */

.container {
    display: flex;
    flex-direction: row-reverse;
}

.main {
    flex: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cdd3d6;
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cdd3d6;
    border-radius: 4px;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance: none;
}

/*for IE10+*/
select::-ms-expand {
    display: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.top-2 {
    margin-top: 20px;
}

.gap-8 {
    column-gap: 8px;
}

.m-top {
    margin-top: 9px;
}

.m-0 {
    margin: 0;
}

.mr-12px {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

.w-26percent {
    width: 26%;
}

.flex {
    display: flex;
}

.align-item {
    align-items: center;
    height: 36px;
}

.color-red {
    color: #FF3939;
}

.text-success {
    color: #50B83C;
}

.text-warning {
    color: #F49342;
}

.text-error {
    color: #DE3618;
}

.error-info {
    color: red;
    margin-top: 3px;
    font-size: 11px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.background-line {
    background-color: #EDF8EB;
}

.text__align-right {
    text-align: right;
    margin-right: 10px;
}
.text__align-center {
    text-align: center;
}

.bgc-line {
    background-color: #EDF8EB;
}

.dropdown[tabindex]:focus {
    outline: none;
    border :1px solid #50B83C!important;/*here change the color*/
    border-radius: 2px;
}

span[tabindex]:focus {
    outline: none;
    border :1px solid #50B83C!important;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #0000004f;
}

@-webkit-keyframes xoayvong{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
/* Standard syntax */ 
@keyframes xoayvong {
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

.img-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: xoayvong 2s linear 0s infinite;
    -webkit-animation: xoayvong 2s linear 0s infinite;
    -moz-animation: xoayvong 2s linear 0s infinite;
    -o-animation: xoayvong 2s linear 0s infinite; 
}