.menu {
    height: 100vh;
    width: 200px;
    background-color: #38393D;
}

.menu__header {
    display: flex;
    align-items: center;
    height: 56px;
}

.menu__icon {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -424px -86px;
	width: 24px;
	height: 24px;
	margin-left: 16px;
}

.menu__logo {
    height: 36px;
    margin-left: 16px;
}


.menu__body {
    /* display: flex; */
	height: calc(100vh - 56px);
    /* flex-direction: column; */
    color: #fff;
    padding: 20px 12px;
    row-gap: 4px;
	overflow: auto;
	word-wrap: unset;
	min-width: 200px;
}

.menu__body-item {
    display: flex;
    height: 44px;
    align-items: center;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
}

.menu__body-item:hover {
	background-color: #d4d7dc3c;
}

.menu__body-content {
    font-size: 14px;
    margin-left: 12px;
}

.menu__body-logo-item1 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -30px -1585px;
	width: 24px;
	height: 24px;
	margin-left: 12px;
}

.menu__body-logo-item2 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -73px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;
}

.menu__body-item2 {

}

.menu__body-logo-item3 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -117px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;
}

.menu__body-item3 {

}

.menu__body-logo-item4 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -161px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item4 {

}

.menu__body-logo-item5 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -204px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item5 {

}

.menu__body-logo-item6 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -249px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item6 {

}

.menu__body-logo-item7 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -291px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item7 {

}

.menu__body-logo-item8 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -335px -1630px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item8 {

}

.menu__body-logo-item9 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -378px -1630px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item9 {

}

.menu__body-logo-item10 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -423px -1630px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item10 {

}

.menu__body-logo-item11 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -467px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item11 {

}

.menu__body-logo-item12 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -510px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item12 {

}

.menu__body-logo-item13 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -378px -1659px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item13 {

}

.menu__body-logo-item14 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -547px -1628px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item14 {

}

.menu__body-logo-item15 {
	background: url('/assets/img/Sprites.64af8f61.svg') no-repeat -204px -1664px;
	width: 24px;
	height: 24px;
	margin-left: 12px;

}

.menu__body-item15 {

}
