body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 200px auto;
}

.header {
    background-color: #333;
}

.menu {
    background-color: #ccc;
}

.body {
    background-color: red;
}

.footer {
    background-color: yellow;

}

